@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto:wght@300&display=swap');
body{
    width: 90vw;
    margin: auto;
    background: #060707;
    color: white;
}

.snss a {
  text-decoration: none;
    color: white; 
    font-size: 30px; 
}

ul {
  list-style: none;
}

#container {
  margin: 0 auto;
  width: 1200px;
}

/* 헤더 영역 */
header {
  width: 100%;
  height: 100px;
}


#logo h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #83ff5c;
  text-shadow: 0 -1px 0 #222;
    margin: 0px;
}
/* 내비게이션 영역 */
nav {
  width: 100%;
  height: 100px;
  padding-top: 40px; /*메뉴를 아래로 내리기 위해 */
}
.topMenu {
  margin-bottom: 100px;
    width: 80%;
}
#topMenu {
    width: 100%;
    
}

#topMenu > li {
  float: left;
  position: relative; /* 서브메뉴의 부모요소 */
}

#topMenu > li > a {
  display: block; /*링크 텍스트는 블록으로 */
  color: #ccc;
  font-weight: 600;
  text-shadow: 0 1px #07c;
  padding: 20px 60px;
}

#topMenu > li > a > span {
  font-size: 0.5em; /* 서브메뉴가 있는 항목에 화살표 표시 */
}

#topMenu > li > a:hover {
  color: #88d60b; /* 마우스 포인터를 올리면 색상 바뀜 */
  text-shadow: 0 -1px #07c; /* 글자가 굵어지지 않도록 지정 */
}

#topMenu > li > ul {
  display: none; /* 서브메뉴를 처음에는 감춤 */
  position: absolute;
  width: 160px;
  
  margin: 0;
  left: 20px;
}

#topMenu > li > ul > li {
  padding: 10px 0px 10px 0px; /*서브메뉴 항목 지정 */
}

#topMenu > li > ul > li > a {
  font-size: 14px;
  padding: 10px;
  color: #ccc;
}

#topMenu > li:hover > ul {
  display: block;
  z-index: 10;
}

#topMenu > li > ul > li > a:hover {
  color: #83ff5c;
}


/* 콘텐츠 영역 */
.content1 {
  width: 100%;
    margin: auto;
  height: 400px;
  margin-top: 20px;
}




/* 푸터 영역 */
footer {
  width: 100%;
  height: 100px;
  border-top: 2px #a3bcdf solid; /* 위쪽에 가로선 추가(안됨...) */
}
#sns {
    border-radius: 10px;

}
#sns ul li {
  padding: 5px;
    width: 30px;
    float: left;
}
#group {
  float: right;
  color: #a3bcdf;
  margin-top: 120px;
}

.apply {
    border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #83ff59;
  width: 100%;
  height: 100%;
  font-weight: 600;
}
.content2 {
    width: 80vw;
    margin: auto;
    height: 30px;
    margin-top: 20px;
    display: block;
}

#links-text {
    height: 50%;
    width: 100%;
}

.footer {
    height: 300px;
    width: 100%;
}

.topMenu {
    height: 60px;
    float: right;
    
}

.slide-container {
    width: 2000vw;
    transform: translateX(0vw);/*-120까지 하면 됨*/
    transition: transform 0.3s;
}

.slide-box {
    width: 10vw;
    float: left;
    text-align: center;
}

.middle-introduce-text1 {
    float: left;
    width: 60%;
  margin-left: 0;
}

.middle-introduce-title {
    float: left;
  font-size: 18px;
    width: 100%;

}

.middle-introduce-content {
    float: left;
  font-size: 20px;
  width: 100%;
}

.hanbat-logo {
  float: left;
  height: 40%;
  width: 30%;
  margin: 10px;
    margin-right: 8%
}
.hanbat-logo img{
    width: 100%;
}

.middle {
  margin-top: 100px;
    height: 500px;
}

.sns1 {
    float: left;
}

.snss {
    width: 30%;
    height: 40px;
}

#logo {
    width: 20%;
    float: left;
    
}

.middle-apply {
    margin-top: 150px;
    height: 1500px;
    width: 100%;
}

.title {
    width: 36%;
    height: 60px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.title h1{
    font-size: 60px;
}

.middle-introduce {
    width: 80%;
    height: 20%;
    margin: auto;
    margin-top: 50px;
}

.middle-content {
    width: 80%;
    height: 20%;
    margin: auto;
    margin-top: 50px;
}

.middle-content-title {
    font-size: 18px;
    width: 23%;
    margin: auto;
    text-align: center;
}
.middle-content-title h1{
    width: 250px;
}

.middle-content-image {
    width: 40%;
    float: left;
}

.middle-content-text {
    width: 55%;
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
.middle-content-text p{
    font-size: 21px;
    width: 600px;
    margin: auto;
    
}

.middle-eligibility {
    width: 80%;
    margin: auto;
    font-size: 14px;
}

.middle-dligibility-title {
    width: 40%;
    margin: auto;
    text-align: center;
}
.middle-dligibility-title h1{
    width: 400px;
}

.middle-eligibility-image {
    float: left;
    width: 30%;
    margin-left: 20px;
    margin-top: 40px;
}
.middle-eligibility-image img{
    width: 120%;
}

.middle-eligibility-content {
    float: right;
    width: 55%;
    font-size: 20px;
    margin-bottom: 100px;;
}

.middle-eligibility-content ul li{
    margin-top: 40px;
}

.slide-box i {
    font-size: 90px;
}

.apply-btn {
    width: 15%;
    height: 50px;
    margin: auto;
    
}

.copyright {
    width: 290px;
    margin: auto;
}
