@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto:wght@300&display=swap');
/*홈페이지 기본 css 설정*/
body{
    width: 90vw;
    margin: auto;
    background: #060707;
    color: white;
}

ul {
  list-style: none;
}

.symbol-color{
  color: #83ff5c;
}
.symbol-background-color{
  background-color: #83ff5c;
}

.back-color{
    background-color: #060707;
}

.container {
  margin: 0 auto;
  width: 100vw;
  max-width: 100%;
}


/* 메뉴바 영역, 왠만하면 이 변수명은 쓰지 않기 */

header {
  width: 100%;
  height: 200px;
}
nav {
  width: 100%;
  height: 100px;
  padding-top: 40px; /*메뉴를 아래로 내리기 위해 */
}
.menu-button{
  display: none;
}

.logo {
  margin-left: 10%;
  width: 150px;
  height: 100px;
  float: left;
  line-height: 100px;
}

.logo h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #83ff5c;
  text-shadow: 0 -1px 0 #222;
    margin: 0px;
}

/* 메뉴바 내려오는 영역*/
.topMenu {
  margin-bottom: 100px;
  width: 50%;
  height: 60px;
  float: right;
  margin-right: 10%;
}

.topMenu-ul {
    float: right;
    width: 100%;
}

.topMenu-ul > li {
  float: left;
  position: relative; /* 서브메뉴의 부모요소 */
}

.topMenu-ul > li > a {
  display: block; /*링크 텍스트는 블록으로 */
  color: #ccc;
  font-weight: 600;
  text-shadow: 0 1px #07c;
  padding: 20px 40px;
}

.topMenu-ul > li > a > span {
  font-size: 0.5em; /* 서브메뉴가 있는 항목에 화살표 표시 */
}

.topMenu-ul > li > a:hover {
  color: #88d60b; /* 마우스 포인터를 올리면 색상 바뀜 */
  text-shadow: 0 -1px #07c; /* 글자가 굵어지지 않도록 지정 */
}

.topMenu-ul > li > ul {
  display: none; /* 서브메뉴를 처음에는 감춤 */
  position: absolute;
  width: 160px;
  
  margin: 0;
  left: 20px;
}

.topMenu-ul > li > ul > li {
  padding: 10px 0px 10px 0px; /*서브메뉴 항목 지정 */
}

.topMenu-ul > li > ul > li > a {
  font-size: 14px;
  padding: 10px;
  color: #ccc;
}

.topMenu-ul > li:hover > ul {
  display: block;
  z-index: 10;
}

.topMenu-ul > li > ul > li > a:hover {
  color: #83ff5c;
}

/* 태블릿 */
@media screen and (max-width:1023px) {
    .topMenu-ul > li > a {
      padding: 20px 30px;
    }
}

/* 모바일 */
@media screen and (max-width:767px) {

}
/* 

  콘텐츠 영역 
  middle 영역

*/

.middle-apply {
  margin-top: 150px;
  height: 1500px;
  width: 100%;
}

.middle-title {
  width: 28%;
  height: 60px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.middle-title h1{
  font-size: 60px;
}

.middle-introduce {
  width: 65%;
  height: 20%;
  margin: auto;
  margin-top: 50px;
}

.import-logo {
  float: left;
  height: 80%;
  width: 40%;
  margin: 10px;
  margin-left: 100px;
  margin-right: 40px;
}
.import-logo img{
  width: 100%;
}

.middle-introduce-text{
  float: left;
  width: 40%;
  margin-left: 0;
}

.middle-introduce-title {
  float: left;
  font-size: 18px;
  width: 100%;

}

.middle-introduce-content {
  float: left;
  font-size: 20px;
  width: 100%;
}

/*
    동아리에서 하는 일들을 소개하는 란
*/

.middle-content {
  width: 80%;
  height: 20%;
  margin: auto;
  margin-top: 50px;
}

.middle-content-title {
  font-size: 18px;
  width: 23%;
  margin: auto;
  text-align: center;
}
.middle-content-title h1{
  width: 250px;
}

.middle-content-image {
  width: 40%;
  float: left;
}

.middle-content-text {
  width: 55%;
  font-size: 18px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.middle-content-text p{
  font-size: 21px;
  width: 600px;
  margin: auto;
}


/* 자동 슬라이드 구현 부분 코드 */
.slide-container {
    width: 2000vw;
    transform: translateX(0vw);/*-120까지 하면 됨*/
    transition: transform 0.3s;
}
.slide-box {
  width: 10vw;
  float: left;
  text-align: center;
}
.slide-box i {
  font-size: 90px;
}
/* 종료 */

/* 

    지원 자격에 대한 부분을 설명하는 란

*/

.middle-eligibility {
    width: 80%;
    margin: auto;
    font-size: 14px;
}

.middle-dligibility-title {
    width: 40%;
    margin: auto;
    text-align: center;
}
.middle-dligibility-title h1{
    width: 400px;
}

.middle-eligibility-image {
    float: left;
    width: 30%;
    margin-left: 20px;
    margin-top: 40px;
}
.middle-eligibility-image img{
    width: 120%;
}

.middle-eligibility-content {
    float: right;
    width: 55%;
    font-size: 20px;
    margin-bottom: 100px;;
}

.middle-eligibility-content ul li{
    margin-top: 40px;
}

/* 지원 버튼*/

.apply {
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #83ff59;
  width: 100%;
  height: 100%;
  font-weight: 600;
}

.apply-btn {
    width: 15%;
    height: 50px;
    margin: auto;
    
}



/* 푸터 영역 */

.footer {
  height: 300px;
  width: 100%;
}
.snss {
  width: 30%;
  height: 40px;
}
.sns ul li {
  padding: 5px;
  width: 30px;
  float: left;
  border-radius: 10px;
}
.snss a {
  text-decoration: none;
    color: white; 
    font-size: 30px; 
}
.copyright {
  width: 290px;
  margin: auto;
}

.address {
  float: right;
  color: #a3bcdf;
  margin-top: 120px;
}


/* 메인 페이지 css 끝 */

/****************************/

/* 게시글 페이지 css 시작 */

.post {
    width: 70%;
    min-height: 600px;
    padding: 5% 0 5% 0;
    margin: 0 auto;
}
.post h2{
    font-size: 25px;
    font-weight: 700;
    color: #83ff5c;
    margin-bottom: 1px;
}

/* 소스코드 하이라이트 */
/* 숫자 스타일 */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* 가운데 정렬 */
    text-align: center;
    /* 글자 색 설정 */
    color: gray;
    /* 오른쪽 선 설정 */
    border-right: 1px solid rgba(204, 204, 204, 0.15);
    /* 세로 정렬 */
    vertical-align: top;
    /* 오른쪽 여백 */
    padding-right: 10px !important;
    /* 글자 사이즈 */
    font-size: 10pt;
    /* 라인 높이 */
    line-height: 15px;
}
    /* 코드 스타일 */
.hljs-ln-code {
    /* 왼쪽 여백 */
    padding-left: 10px !important;
    /* 글자 사이즈 */
    font-size: 10pt;
    /* 공백 설정 */
    white-space: pre-wrap;
    /* 라인 높이 */
    line-height: 15px;
}

/* 위험한 코드 */
pre code {
    border-radius: 5px 5px;
    background-color: #222 !important;
    display: block;
    min-height: 35px;
    padding: 10px;
}
pre {
    margin: 10px 0;
}

/* 
    글쓰기 코드가 완성되면 수정하기
    나중에 코드가 겹칠 위험이 있음 

*/


/* content */

.post-content-title > h1 {
    font-size: 40px;
}
.comment-info {
    width: 100%;
    height: 1%;
    color: #ccc;
    display: inline;
}
#contentWrap hr {
    border: none;
    border-top: 1px solid rgba(204, 204, 204, 0.15);
    margin: 1% 0 1% 0;
}
#contentBody {
    padding: 0 1% 0 1%;
    margin-bottom: 1%;
}
.comment-buttons {
    display: inline;
    float: right;
    margin-right: 1%;
}
.comment-body {
    margin-top: 1%;
    padding: 0 1% 0 1%;
    clear: right;
    word-break: normal;
    word-wrap: break-word;
}
.comment-buttons button{
    background-color: transparent;
    color: #ccc;
    border: none;
    font-size: 10px;
}
.comment-buttons button:hover {
    cursor: pointer;
    color: #83ff5c;
}
/* content button /add comment/edit/delete */
#contentButtons {
    display: inline;
    float: right;
    margin-right: 1%;
}
#contentButtons > button {
    background-color: transparent;
    border: none;
    color: #ccc;
}
#contentButtons > button:hover {
    cursor: pointer;
    color: #83ff5c;
}


/* 하단 버튼 */


.post-footer-btn {
    margin-top: 1%;
    width: 100%;
    height: 30px;
    position: relative;
}
.post-comment-btn{
    width: 40%;
    float: left;
}
.post-comment-btn button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px;
    height: 100%;
}

.post-list-btn{
    float: right;
}
.post-list-btn button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px;
    height: 100%;
}


.post-footer-btn button:hover {
    cursor: pointer;
    color: #83ff5c;
}




/* to prev next content */
.other-contents {
    width: 80%;
    height: 50px;
    background-color: transparent;
    margin: 3% auto 0;
}
.other-contents > button {
    width: 50%;
    height: 50px;
    float: left;
    border: none;
    border-right: rgba(204, 204, 204, 0.15) 1px solid;
    position: relative;
    font-size: 15px;
    background-color: transparent;
    text-align: center;
    color: white;
}
.other-contents > button:last-of-type {
    border-right: none;
}
.other-contents > button:hover {
    cursor: pointer;
    color: #83ff5c;
}
.other-contents > button > h3 {
    width: 100%;
    font-size: 20px;
    display: inline;
}
.prev-content-button > span{
    position: absolute;
    left: 10px;
    border: 900;
}
.next-content-button > span{
    position: absolute;
    right: 10px;
    border: 900;
}


/* 게시글 페이지 css 끝*/



.write-title {
    width: 50%;
    margin-top: 40px;
}
.write-title input{
    height: 50px;
    border: none;
    font-size: 50px;
}

.write-font-size {
    width: 160px;
    float: left;
}
.write-font-size button{
    color: white;
    border: none;
    width: 50px;
    height: 30px;
}


/* 게시판 css */

:root {
  /* Color */
  --white-color: #f1f1ef;
  --black-color: #060707;
  --green-color: #83ff5c;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
}

* {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.contents {
  width: 1200px;
  margin: 0 auto 0;
}

.contents .title {
  display: flex;
  align-items: center;
}

.contents .title h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.82em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.contents .title .total {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--white-color);
  padding-left: 16px;
}

.contents .project-cards-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.contents .project-cards-container .project-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.contents .project-cards-container .project-cards .project-card-component {
  margin-top: 48px;
  flex-basis: 365px;
  border-radius: 16px;
  border: 1px solid rgba(204, 204, 204, 0.15);
}

.contents
  .project-cards-container
  .project-cards
  .project-card-component
  a:hover {
  opacity: 0.5;
}

.contents
  .project-cards-container
  .project-cards
  .project-card-component
  .project-thumbnail {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.contents
  .project-cards-container
  .project-cards
  .project-card-component
  .name {
  font-style: normal;
  margin: 24px 0 0 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: var(--white-color);
  cursor: pointer;
}

.contents
  .project-cards-container
  .project-cards
  .project-card-component
  .time {
  font-style: normal;
  margin: 8px 0 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--white-color);
}

.contents
  .project-cards-container
  .project-cards
  .project-card-component
  .links {
  margin: auto 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
}

.contents
  .project-cards-container
  .project-cards
  .project-card-component
  .links:hover {
  background-color: var(--green-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-clip: content-box;
  color: black;
}

.contents
  .project-cards-container
  .project-cards
  .project-card-component
  .links
  .link-item:last-child {
  margin: 0;
}

.contents
  .project-cards-container
  .project-cards
  .project-card-component
  .links
  .link-item {
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid rgba(204, 204, 204, 0.15);
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--green-color);
  margin: 0;
}

.contents
  .project-cards-container
  .project-cards
  .project-card-component
  .links
  .link-item:hover {
  color: var(--black-color);
}


.contents .project-cards-container .load-more {
  margin-top: 48;
}

.contents .project-cards-container .load-more .load-more-btn {
  margin: 48px auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 68px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: var(--white-color);
}

.contents .project-cards-container .load-more .load-more-btn:hover {
  color: var(--green-color);
}

.contents .project-cards-container .load-more .load-more-btn i {
  margin-left: 10px;
  width: 20px;
  height: 11;
}



/* 반응형 */
@media screen and (max-width: 768px) {
  .contents {
    width: 100%;
    padding: 0 24px;
    margin: 0 auto;
  }

  .contents .title {
    margin-top: 24px;
  }
}

.contents .title h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.03em;
  color: var(--green-color);
}

.project-cards-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.project-cards-container .load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

/* write css 시작부분 */

.write-title {
  width: 50%;
  margin-top: 40px;
}
.write-title input{
  height: 50px;
  border: none;
  font-size: 50px;
}
.write-category{
  float: right;
}
.write-category select{
  height: 50px;
}

.write-btn{
  width: 100%;
  margin: 0;
}
.write-btn button{
  width: 50px;
  height: 50px;
  border: 0px;
  outline: 0px;
  color: #83ff5c;
}

.write-btn button:hover {
  background-color: #83ff5c;
}

.write-btn button:hover{
  color: #060707;
}

.write-btn button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
  inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.image-selector{
  display: none;
}

.write-contents {
  width: 100%;
  height: 500px;
  margin-top: 100px;
}

.write-contents img{
  max-width: 100%;
}

[contentEditable=true]:empty::before{
  content:attr(data-text);
  color: gray;
}



.last-button button {
  border: none;
  width:100px;
  height: 30px;
  float: left;
  font-size: 15px;
  border-radius: 10px;
}

.last-button button:hover {
  background-color: yellow;
}

.last-button button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
  inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.complete-button {
  background-color:#83ff5c;
  margin-left: 10px;
}


.list-box {
    margin-left: 20px;
    width: 100%;
}

.list-box-title {
    margin-left: 10px;
    float: left;
    width: 50%;
}



.list-box-file-download {
    float: right;
    width: 10%;
}

/* 
  *************************************
                모바일 
  *************************************
*/

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 10px;
  }
  nav {
    width: 100%;
    height: 10px;
    padding-top: 40px; /*메뉴를 아래로 내리기 위해 */
    position: relative;
  }
  
  .menu-button{
    position: absolute ;
    margin: 0;
    font-size: 30px;
    left: 15px;
    top: 30px;
    
  }
  .logo {
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    line-height: 100px;
  }
  
  .logo h1 {
    height: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #83ff5c;
    text-shadow: 0 -1px 0 #222;
  }
  
  
  /* 메뉴바 내려오는 영역*/
  .topMenu {
    position: relative;
    width: 500px;
    display: block;
  }
  
  .topMenu-ul {
    left: 30px;
    position: absolute;
    width: 180px;
  }
  
  .topMenu-ul > li {
    float: left;
    position: relative; /* 서브메뉴의 부모요소 */
  }
  
  .topMenu-ul > li > a {
    display: block; /*링크 텍스트는 블록으로 */
    color: #ccc;
    font-weight: 600;
    text-shadow: 0 1px #07c;
    padding: 20px 40px;
  }
  
  .topMenu-ul > li > a > span {
    font-size: 0.5em; /* 서브메뉴가 있는 항목에 화살표 표시 */
  }
  
  .topMenu-ul > li > a:hover {
    color: #88d60b; /* 마우스 포인터를 올리면 색상 바뀜 */
    text-shadow: 0 -1px #07c; /* 글자가 굵어지지 않도록 지정 */
  }
  
  .topMenu-ul > li > ul {
    display: none; /* 서브메뉴를 처음에는 감춤 */
    position: absolute;
    width: 160px;
    margin: 0;
    left: 100px;
    top: 10px;
  }
  
  .topMenu-ul > li > ul > li {
    padding: 10px 0px 10px 0px; /*서브메뉴 항목 지정 */
  }
  
  .topMenu-ul > li > ul > li > a {
    font-size: 14px;
    padding: 10px;
    color: #ccc;
  }
  
  .topMenu-ul > li:hover > ul {
    display: block;
  }
  
  .topMenu-ul > li > ul > li > a:hover {
    color: #83ff5c;
  }

  /*
    ************************************
    content영역
    ************************************
  */


.middle-apply {
  margin-top: 150px;
  height: 1500px;
  width: 100%;
}

.middle-title {
  width: 28%;
  height: 60px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.middle-title h1{
  font-size: 60px;
}

.middle-introduce {
  width: 65%;
  height: 20%;
  margin: auto;
  margin-top: 50px;
}

.import-logo {
  float: left;
  height: 80%;
  width: 40%;
  margin: 10px;
  margin-left: 100px;
  margin-right: 40px;
}
.import-logo img{
  width: 100%;
}

.middle-introduce-text{
  float: left;
  width: 40%;
  margin-left: 0;
}

.middle-introduce-title {
  float: left;
  font-size: 18px;
  width: 100%;

}

.middle-introduce-content {
  float: left;
  font-size: 20px;
  width: 100%;
}

/*
    동아리에서 하는 일들을 소개하는 란
*/

.middle-content {
  width: 80%;
  height: 20%;
  margin: auto;
  margin-top: 50px;
}

.middle-content-title {
  font-size: 18px;
  width: 23%;
  margin: auto;
  text-align: center;
}
.middle-content-title h1{
  width: 250px;
}

.middle-content-image {
  width: 40%;
  float: left;
}

.middle-content-text {
  width: 55%;
  font-size: 18px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.middle-content-text p{
  font-size: 21px;
  width: 600px;
  margin: auto;
}


/* 자동 슬라이드 구현 부분 코드 */
.slide-container {
    width: 2000vw;
    transform: translateX(0vw);/*-120까지 하면 됨*/
    transition: transform 0.3s;
}
.slide-box {
  width: 10vw;
  float: left;
  text-align: center;
}
.slide-box i {
  font-size: 90px;
}
/* 종료 */

/* 

    지원 자격에 대한 부분을 설명하는 란

*/

.middle-eligibility {
    width: 80%;
    margin: auto;
    font-size: 14px;
}

.middle-dligibility-title {
    width: 40%;
    margin: auto;
    text-align: center;
}
.middle-dligibility-title h1{
    width: 400px;
}

.middle-eligibility-image {
    float: left;
    width: 30%;
    margin-left: 20px;
    margin-top: 40px;
}
.middle-eligibility-image img{
    width: 120%;
}

.middle-eligibility-content {
    float: right;
    width: 55%;
    font-size: 20px;
    margin-bottom: 100px;;
}

.middle-eligibility-content ul li{
    margin-top: 40px;
}

/* 지원 버튼*/

.apply {
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #83ff59;
  width: 100%;
  height: 100%;
  font-weight: 600;
}

.apply-btn {
    width: 15%;
    height: 50px;
    margin: auto;
    
}



/* 푸터 영역 */

.footer {
  height: 300px;
  width: 100%;
}
.snss {
  width: 30%;
  height: 40px;
}
.sns ul li {
  padding: 5px;
  width: 30px;
  float: left;
  border-radius: 10px;
}
.snss a {
  text-decoration: none;
    color: white; 
    font-size: 30px; 
}
.copyright {
  width: 290px;
  margin: auto;
}

.address {
  float: right;
  color: #a3bcdf;
  margin-top: 120px;
}

}
