<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
  
    <title>IMPORT</title>
    <script src="https://kit.fontawesome.com/4ab7d5f053.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
</head>
<body>
    <!-- 상단 메뉴 바, 어느 페이지건 다 복사 붙여넣기를 해야함 -->
    <header>
        <nav>
          <div class="logo">
            <a herf="index.html">
              <h1>IMPORT</h1>
            </a>
          </div>
        <div class="topMenu">
            <ul class="topMenu-ul">
              <li><a href="#">동아리 <span>▼</span></a>
                <ul>
                  <li><a href="#">임원진</a></li>
                  <li><a href="#">동아리 소개</a></li>
                  <li><a href="#">동아리 규칙</a></li>
                  <li><a href="#">회의록</a></li>
                </ul>
              </li>
              <li><a href="#">프로젝트</a></li>
              <li><a href="#">Education <span>▼</span></a>
                <ul>
                  <li><a href="#">Web</a></li>
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Data Analysis</a></li>
                  <li><a href="#">AI</a></li>
                </ul>
              <li><a href="#">질문 게시판</a></li>
            </ul>
        </div>
      </nav>
    </header>

    <!--상단 게시판 제목-->
    <div class="contents">
        <div class="title">
            <h2>Project</h2>
            <!--프로젝트 전체 갯수-->
            <sup class="total">6</sup>
        </div>

        <!--상단 제목 ~ 하단 Load more-->
        <div class="project-cards-container">
            <!--프로젝트 게시물 전체-->
            <div class="project-cards">
                <!-- 프로젝트 게시물 개별 -> 첫 화면에 6개 보여줌-->
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                </div>
                
            </div>
            <div class="load-more">
                <div class="load-more-btn">
                    <p>Load more</p>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>


    <!-- 마지막 footer부분 이 부분은 메뉴바와 함께 복사 붙여 넣기 꼭 하기 -->
    <div class="footer">
        <div class="sns">
          <ul class="snss">
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
          <div class="copyright">
              <p>Copyright 2022. Import all right reserved.</p>
          </div>
            <div class="address">
              <p>대전광역시 유성구 동서대로 125</p>
            </div>
        </div>
</body>
</html>