<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>   
    <link href="fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
  <title>IMPORT</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
    <body>
        <div class="write-title">
            <input class="back-color" type="text" placeholder="제목을 입력하세요">
        </div>
        <hr>
        <div class="write-font-size">
            <button class="back-color">대</button>
            <button class="back-color">중</button>
            <button class="back-color">소</button>
        </div>
            <button class="back-color">B</button>
            <button class="back-color">I</button>
            <button class="back-color">T</button>
        <div>
            
        </div>
    </body>
</html>